# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
.project
.DS_Store
log/development.log
log/test.log
tmp/**/*
config/database.yml
db/development.sqlite3
db/test.sqlite3
public/system/pdfs/*
.loadpath
